.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  width: 100%;
  background-color: white;
}

.formBox {
  border-radius: 8px;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: "DM Sans", sans-serif;
  font-size: 3.75em;
  text-align: center;
  margin-bottom: -0.5em;
}

.subtitle {
  font-family: "DM Sans", sans-serif;
  font-size: 2em;
  text-align: center;
}

.inputBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1em;
  width: 50%;
  box-sizing: border-box;
}

.label {
  font-family: "DM Sans", sans-serif;
  font-size: 1.5625em;
  margin-left: 0.2em;
}

.input {
  font-family: "DM Sans", sans-serif;
  padding: 0.3em;
  padding-left: 1.5em;
  font-size: 2em;
  color: black;
  width: 100%;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.bottomText {
  margin-top: 1.5625em;
  margin-bottom: 1.5625em;
  font-size: 1em;
}

.button {
  font-family: "DM Sans", sans-serif;
  font-size: 1em;
  margin-top: 1em;
  color: black;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  background-color: #f7ab74;
  border: none;
  border-radius: 10px;
  width: 12%;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.statusMessage {
  font-family: "DM Sans", sans-serif;
  text-align: center;
  margin-top: 20px;
  font-size: 1em;
  color: #28a745;
}

.icon {
  font-size: 200%;
  transform: translateY(-50%);
  position: absolute;
  left: 10px;
  top: 50%;
  pointer-events: none;
}

/* Media Query Styling */

/* IPhone SE - S20 Ultra */
@media only screen and (width: 1024px) and (height: 768px) {
  .container {
    min-height: 90vh;
  }

  .title {
    font-size: 1.9em;
    margin-bottom: -0.5em;
  }

  .subtitle {
    font-size: 1.4em;
  }

  .inputBox {
    margin-top: 1em;
    width: 80%;
  }

  .label {
    font-size: 1em;
    margin-left: 0.2em;
  }

  .input {
    padding: 0.3em;
    padding-left: 1.5em;
    font-size: 1.3em;
  }

  .inputContainer {
    width: 100%;
  }

  .bottomText {
    font-size: 1em;
  }

  .button {
    font-size: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 10px;
    width: 20%;
  }

  .icon {
    font-size: 90%;
  }
}

/* IPad Mini */
@media (min-height: 1024px) and (max-height: 1024px) and (max-width: 750px) and (min-width: 750px) {
  .container {
    min-height: 50vh;
  }

  .title {
    font-size: 4em;
    margin-bottom: -0.5em;
  }

  .subtitle {
    font-size: 2.3em;
  }

  .inputBox {
    margin-top: 1em;
    width: 80%;
  }

  .label {
    font-size: 1.5em;
    margin-left: 0.2em;
  }

  .input {
    padding: 1em;
    padding-left: 2.5em;
    font-size: 1.5em;
  }

  .inputContainer {
    width: 100%;
  }

  .bottomText {
    font-size: 1.5em;
  }

  .button {
    font-size: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 10px;
    width: 20%;
  }

  .icon {
    font-size: 150%;
  }
}

/* IPad Mini - Surface Pro 7 */
@media (min-height: 1180px) and (min-width: 820px) {
  .container {
    min-height: 90vh;
  }

  .title {
    font-size: 5em;
    margin-bottom: -0.5em;
  }

  .subtitle {
    font-size: 3em;
  }

  .inputBox {
    margin-top: 1em;
    width: 80%;
  }

  .label {
    font-size: 2.2em;
    margin-left: 0.2em;
  }

  .input {
    padding: 0.5em;
    padding-left: 1.5em;
    font-size: 2.6em;
  }

  .inputContainer {
    width: 100%;
  }

  .bottomText {
    font-size: 2em;
  }

  .button {
    font-size: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 10px;
    width: 20%;
  }

  .icon {
    font-size: 150%;
  }
}

/* Surface Duo */
@media (min-height: 720px) and (max-height: 720px) and (max-width: 540px) and (min-width: 540px) {
  .container {
    min-height: 95vh;
  }

  .title {
    font-size: 3em;
    margin-bottom: -0.5em;
  }

  .subtitle {
    font-size: 2em;
  }

  .inputBox {
    margin-top: 1em;
    width: 80%;
  }

  .label {
    font-size: 1em;
    margin-left: 0.2em;
  }

  .input {
    padding: 0.25em;
    padding-left: 2.5em;
    font-size: 1.5em;
  }

  .inputContainer {
    width: 100%;
  }

  .bottomText {
    font-size: 1em;
  }

  .button {
    font-size: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 10px;
    width: 20%;
  }

  .icon {
    font-size: 150%;
  }
}

/* Galaxy Fold */
@media (max-height: 800px) and (max-width: 280px) {
  .container {
    min-height: 85vh;
  }

  .title {
    font-size: 1.5em;
    margin-bottom: -0.5em;
  }

  .subtitle {
    font-size: 1em;
  }

  .inputBox {
    margin-top: 0.5em;
    width: 90%;
  }

  .label {
    font-size: 0.5em;
    margin-left: 0.2em;
  }

  .input {
    padding: 0.2em;
    padding-left: 1.5em;
    font-size: 1em;
  }

  .inputContainer {
    width: 100%;
  }

  .bottomText {
    margin-top: 1.5625em;
    margin-bottom: 0.5625em;
    font-size: 0.75em;
  }

  .button {
    font-size: 0.75em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 30%;
  }

  .icon {
    font-size: 60%;
  }
}

/* Galaxy A5 */
@media (min-height: 914px) and (max-height: 914px) and (max-width: 412px) and (min-width: 412px) {
  .container {
    min-height: 85vh;
  }

  .title {
    font-size: 2.2em;
    margin-bottom: -0.5em;
  }

  .subtitle {
    font-size: 1.4em;
  }

  .inputBox {
    margin-top: 1em;
    width: 90%;
  }

  .label {
    font-size: 1em;
    margin-left: 0.2em;
  }

  .input {
    padding: 0.25em;
    padding-left: 1.8em;
    font-size: 1.5em;
  }

  .inputContainer {
    width: 100%;
  }

  .bottomText {
    font-size: 1em;
  }

  .button {
    font-size: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 10px;
    width: 20%;
  }

  .icon {
    font-size: 150%;
  }
}

/* Nest Hubs */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 600px) and (max-device-height: 600px),
  only screen and (min-device-width: 1280px) and (max-device-width: 1280px) and (min-device-height: 800px) and (max-device-height: 800px) {
  .container {
    min-height: 50vh;
  }

  .title {
    font-size: 3.5em;
    margin-bottom: -0.5em;
  }

  .subtitle {
    font-size: 2em;
  }

  .inputBox {
    margin-top: 1em;
    width: 80%;
  }

  .label {
    font-size: 1em;
    margin-left: 0.2em;
  }

  .input {
    padding: 1em;
    padding-left: 2.5em;
    font-size: 1em;
  }

  .inputContainer {
    width: 100%;
  }

  .bottomText {
    font-size: 1em;
  }

  .button {
    font-size: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 10px;
    width: 20%;
  }

  .icon {
    font-size: 150%;
  }
}
