@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

html {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}



/* This is so we can have a navbar take up the full width. */
/* Removes the default margin and padding. */
html, body {
    margin:0;
    padding:0;
}


.navbar > * {
  padding: 0.5em;
}

.calendar-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-aspect-ratio: 1/1) {
  .calendar-container {
    padding-left: 2.5%;
  }
}

/* Colors */
:root {
  --eco-green: #335543;
  --eco-orange: #f07f2d;
  --eco-white: #ffffff;
  --eco-light: #f7ab74;
}

/* Heading styles */
h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
}

h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 32px;
}

h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

h4 {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

/* Body text style */
body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  
}

/* Button text style */
.btn-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

input::placeholder {
  color: black;
}
