.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--eco-green);
    width: 100%;
    padding: 0.1em 1em; 
    box-shadow: 0 4px 2px -2px gray;
    margin-bottom: 5px;
    box-sizing: border-box; 
}

.dropdown, .charityLoginButton {
    display: flex;
    align-items: center;
    height: auto; /* Remove fixed height for more flexibility */
    margin: 0.25em;
}

.dropdown {
    padding: 0.25em; /* Increase padding for more spacing */
    position: relative; 
}

.logo {
    height: auto; 
    max-height: 30px; 
    padding: 0.25em; 
    margin: 0.25em;
}

.charityLoginButton button {
    background-color: #F07F2D; /* matching the orange color from the image */
    color: black;
    border: none;
    padding: 0.75em 1.5em; /* Increase padding for more spacing */
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.charityLoginButton button:hover {
    background-color: #a8572a; /* darker shade of the button color */
}

